
.reviews { 
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
}

.sortForm { 
  margin-bottom: 10px;
}

.EachReview {
    display: grid; 
    grid-template-rows: auto auto auto auto; 
    align-items: center; 
    margin-right: 40%;
} 

.revAvatars { 
    grid-row: 1 / 1; 
    align-items: center; 
    width: 20px;
} 

.revName { 
  grid-row: 1 / 1; 
  display: inline-block;
  padding-left: 10px; 
  vertical-align: 20%;
} 

.ratingRow { 
  display: inline-block;
}

.star-ratings { 
  grid-row: 2 / 2; 
  /* position: absolute; */
  /* width: 80px; */
  /* display: inline-block;  */
}

.revTitle { 
  grid-row: 2 / 2; 
  display: inline-block;
  font-weight: bold;
  margin-left: 4px;
}

.revDate { 
  grid-row: 3 / 3; 
  color: #555;
}
