.body {
    display: flex;
    /* text-align: center; */
    border: 2px solid red;
    height: 2000px;
    min-width : 1000px;
    background-color: white;
} 

/* #reviews { 
    display: flex;
} */

.revAvatars { 
    justify-content: flex-start;
} 

.revName { 
    justify-content: flex-end;
}

.revTitle { 
    font-weight: 600;
}

.revDate { 
    color: #555;
}
